<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>words</title>
  </head>
  <body>
    <div
      id="app"
      style="height: 100vh; background: #121212"
      class="h-full w-full flex flex-col items-center p-4 gap-4"
    >
      <h1 class="mb-10 text-white text-3xl">汉字组词</h1>
      <div class="flex">
        <div v-for="item in mode" class="text-white mr-2">
          <input
            type="radio"
            :id="item.id"
            name="mode"
            :value="item.label"
            :checked="item.checked"
            @change="handleModeChange(item)"
          />
          <label :for="item.id" class="ml-2">{{item.label}}</label>
        </div>
      </div>
      <div class="flex gap-4">
        <div class="flex flex-wrap w-2/5" v-show="viewAnswer">
          <button v-for="item in words" class="h-10 w-20 text-white border">
            {{item}}
          </button>
        </div>
        <div>
          <div v-for="row,idy in state">
            <button
              @click="onclick(item)"
              v-for="item,idx in row"
              class="w-10 h-10 border hover:bg-green-700 text-white"
              :class="{'bg-green-700': item.active}"
            >
              {{item.word}}
            </button>
          </div>
        </div>
        <div>
          <div v-if="!selectedWords.length">
            <button class="w-10 h-10 border text-white"></button>
            <button class="w-10 h-10 border text-white"></button>
          </div>
          <div v-else v-for="item in selectedWords" class="m-2 mt-0 w-40">
            <button class="w-10 h-10 border text-white">{{item[0]}}</button>
            <button class="w-10 h-10 border text-white">{{item[1]}}</button>
            <button
              v-show="viewAnswer"
              class="w-10 h-10 border"
              :class="{'text-green-700':check(item),'text-red-500':!check(item)}"
            >
              {{check(item) ? '√' : 'x'}}
            </button>
          </div>
        </div>
      </div>

      <button
        @click="hanldeViewAnswer"
        class="rounded border p-2 w-40 text-white hover:bg-green-700 transition:.5"
      >
        查看结果
      </button>
    </div>
  </body>
  <script src="https://unpkg.com/vue@next"></script>
  <script lang="ts">
    const orignalWords = [
      '故宫',
      '尸骨',
      '赕佛',
      '符蔰',
      '簪冕',
      '汉剑',
      '钉铛',
      '介慎',
      '书筵',
      '煎剂',
      '鸟喙',
      '淹迟',
      '腾布',
      '需勒',
      '属章',
      '汸泉',
      '神瀵',
      '感契',
      '柜柳',
      '申束',
      '纷剧',
      '金坛',
      '撒吞',
      '灾蝗',
      '洪涔',
      '丰乐',
      '陗阤',
      '败驾',
      '溪堂',
      '厨房',
      '泄底',
      '荆棘',
      '践位',
      '土蛆',
      '迎饯',
      '趋泽',
      '窥瞷',
      '婵连',
      '杭颍',
      '交当',
      '昭邱',
      '体查',
      '缺编',
      '血窦',
      '溜转',
      '皇权',
      '遗声',
      '蔑杀',
      '潢星',
      '饷亿',
      '象译',
      '荐新',
      '饮戏',
      '軷涉',
      '客儿',
      '泾水',
      '汩湮',
      '早迟',
      '抽泣',
      '凝眼',
      '缭绫',
      '笼槛',
      '念物',
      '庐落',
      '满勤',
      '骇耳',
      '刚卤',
      '柳信',
      '忉怛',
      '误触',
      '涧烟',
      '璀烂',
      '球楼',
      '打干',
      '起派',
      '湖目',
      '唆说',
      '谫劣',
      '套裁',
      '诬悖',
      '手工',
      '宰柄',
      '九夏',
      '监寺',
      '摇滟',
      '受禅',
      '雨季',
      '麃摇',
      '嫁娶',
      '层汉',
      '哪搭',
      '缮造',
      '支疆',
      '知非',
      '串演',
      '散豁',
      '缊绪',
      '锁窗',
      '外闲',
      '香心',
      '赝押',
      '吁咈',
      '镇定',
      '端渐',
      '厚养',
      '做鬼',
      '桃绽',
      '凝望',
      '暇裕',
      '黄德',
      '丛倚',
      '心病',
      '除移',
      '弱劣',
      '频顣',
      '开济',
      '伦徒',
      '随笔',
      '弹壳',
      '睔睔',
      '停驻',
      '沈闾',
      '逐细',
      '同秀',
      '画毂',
      '襕衫',
      '樵父',
      '承衾',
      '祓斋',
      '小侄',
      '弓弩',
      '云火',
      '坱圠',
      '迟怯',
      '开奬',
      '暗差',
      '徕远',
      '潭奥',
      '逼取',
      '春信',
      '鬼炊',
      '满愿',
      '廉嗜',
      '成心',
      '抵事',
      '筋力',
      '起酵',
      '更衣',
      '上愚',
      '鸿鼎',
      '谦厌',
      '县胥',
      '违滥',
      '摊头',
      '七襄',
      '名分',
      '连想',
      '面弱',
      '硕问',
      '偷息',
      '吮笔',
      '打烊',
      '窃议',
      '伯牛',
      '猓然',
      '手批',
      '秀毛',
      '称荐',
      '盗根',
      '阉狗',
      '卢秦',
      '投阁',
      '考究',
      '水盏',
      '轸琴',
      '遘屯',
      '赋钱',
      '肩舁',
      '旅魂',
      '軯鍧',
      '全养',
      '人从',
      '榜题',
      '甲缀',
      '藉莫',
      '硬军',
      '撒拗',
      '江瑶',
      '滴漉',
      '迷却',
      '漫漶',
      '卑佞',
      '原意',
      '菲仪',
      '庭决',
      '斋修',
      '肤浅',
      '章贡',
      '幽禽',
      '驳责',
      '显家',
      '家法',
      '睑板',
      '倾藿',
      '鹬鹬',
      '筒布',
      '对焦',
      '令鼓',
      '踪绪',
      '不宨',
      '处交',
      '雾散',
      '连澍',
      '橓华',
      '御坐',
      '欺诳',
      '麦斛',
      '遗施',
      '囚车',
      '受茶',
      '堂溪',
      '宫槛',
      '赌行',
      '马褂',
      '雅旨',
      '季胁',
      '殊丽',
      '淫人',
      '突嵂',
      '叶子',
      '蕙畹',
      '和旋',
      '霞峯',
      '拭玉',
      '拗戾',
      '乱逆',
      '先世',
      '芹曝',
      '长悌',
      '钢印',
      '不諐',
      '洁腻',
      '衔冤',
      '劳毁',
      '拙惑',
      '冰鳞',
      '驰耀',
      '义荣',
      '巨构',
      '免坐',
      '肩随',
      '宫端',
      '渊涌',
      '暗竹',
      '浴场',
      '旗杆',
      '肃谒',
      '春霁',
      '栖栖',
      '玄禽',
      '儁良',
      '次蟗',
      '偷苟',
      '诮责',
      '安措',
      '钤律',
      '魁旷',
      '鸟路',
      '斤械',
      '譬晓',
      '发决',
      '倰僜',
      '番入',
      '阿睹',
      '掳抢',
      '乡翁',
      '鹿挺',
      '静寄',
      '降除',
      '逵衢',
      '渊禅',
      '摛辞',
      '织缣',
      '封鐍',
      '棋列',
      '皋原',
      '昌志',
      '星阙',
      '阳春',
      '台衮',
      '度纸',
      '那空',
      '清算',
      '感讽',
      '妫汭',
      '轻凊',
      '含吮',
      '镇遏',
      '镌椠',
      '祖泣',
      '伏腊',
      '饵诱',
      '哀角',
      '因而',
      '任战',
      '词犯',
      '拇动',
      '芽体',
      '通管',
      '特知',
      '禀食',
      '成价',
      '授勋',
      '诱训',
      '奢宕',
      '雅远',
      '践败',
      '犀皮',
      '导气',
      '七景',
      '收拔',
      '镶滚',
      '河右',
      '翻腔',
      '不韵',
      '棒法',
      '临鉴',
      '贤辈',
      '青笋',
      '工倕',
      '自置',
      '骋教',
      '书字',
      '枯荷',
      '要结',
      '浸种',
      '刁哗',
      '驯乌',
      '况乃',
      '耗损',
      '棉药',
      '枪刺',
      '撮泡',
      '和弹',
      '蟹簄',
      '武昭',
      '闲生',
      '勤略',
      '释藏',
      '邮购',
      '川鳞',
      '淫艳',
      '符効',
      '篣楚',
      '祥庆',
      '絶巘',
      '衰女',
      '屙尿',
      '礼检',
      '后轨',
      '阑散',
      '所荷',
      '孕牛',
      '自新',
      '算卦',
      '朗韵',
      '眼生',
      '会推',
      '石坎',
      '餔馈',
      '皋苏',
      '住后',
      '吠雪',
      '天丁',
      '司管',
      '皇虑',
      '碍断',
      '棋流',
      '演礼',
      '琏璐',
      '电邀',
      '佛海',
      '抓举',
      '伤刻',
      '幂人',
      '玉板',
      '猎师',
      '毡笠',
      '澍流',
      '发师',
      '瞿瞿',
      '昧略',
      '髽角',
      '疯瘫',
      '斑驳',
      '靠帮',
      '田戍',
      '赐则',
      '宝倌',
      '骖靳',
      '壅淤',
      '娣侄',
      '扫搭',
      '谋野',
      '点正',
      '酶原',
      '色养',
      '红专',
      '潚率',
      '话名',
      '报塞',
      '斗记',
      '虚宁',
      '雷腾',
      '云露',
      '具叙',
      '兼存',
      '毒热',
      '护养',
      '汤盏',
      '阿嗜',
      '诚实',
      '利弊',
      '寅半',
      '释軷',
      '杰郎',
      '劝诲',
      '营运',
      '弓匠',
      '宫教',
      '宿度',
      '徧告',
      '主唱',
      '玄夜',
      '愚叟',
      '劝引',
      '秦正',
      '绝症',
      '亡几',
      '墨梅',
      '烟馆',
      '屈心',
      '火运',
      '绣口',
      '修慝',
      '馝馞',
      '天仙',
      '资俸',
      '奸顽',
      '学空',
      '表旗',
      '蝶子',
      '流襟',
      '闇很',
      '崇丘',
      '佐检',
      '烧燕',
      '今代',
      '谟臣',
      '举要',
      '速捷',
      '六乐',
      '均人',
      '杏靥',
      '败水',
      '双节',
      '马埒',
      '极论',
      '蚓窍',
      '五姓',
      '榷货',
      '云牙',
      '贺版',
      '烟峤',
      '宣勒',
      '类草',
      '马糊',
      '啬养',
      '场磙',
      '郁达',
      '允武',
      '放游',
      '徐陈',
      '得售',
      '豆鼠',
      '献捷',
      '牂牂',
      '编撰',
      '骂阵',
      '蓊蓊',
      '脱手',
      '侠辅',
      '假情',
      '亲公',
      '撩惹',
      '面相',
      '祈求',
      '跁跒',
      '覆塞',
      '得能',
      '曦微',
      '摧捽',
      '助考',
      '梗命',
      '往天',
      '充穷',
      '挑花',
      '葛洪',
      '复衫',
      '结想',
      '循性',
      '疑狐',
      '伏案',
      '罗带',
      '漱石',
      '一回',
      '石脂',
      '私党',
      '岂肯',
      '树稚',
      '民监',
      '使转',
      '笼豢',
      '朽绠',
      '射科',
      '扬浮',
      '青秋',
      '当冲',
      '迎侍',
      '朝裾',
      '踞慢',
      '鉴台',
      '贵知',
      '头至',
      '轻翠',
      '比捕',
      '阖家',
      '一曙',
      '仪法',
      '矛弧',
      '遮絶',
      '疑畏',
      '请故',
      '摆式',
      '蛇影',
      '新馆',
      '义关',
      '绍继',
      '箭子',
      '暖袖',
      '旗校',
      '喣沫',
      '时差',
      '业商',
      '诡反',
      '癞痢',
      '贰地',
      '赩炽',
      '故旧',
      '门捆',
      '不悌',
      '孔释',
      '瘠枯',
      '外名',
      '过数',
      '蛇茄',
      '夷洲',
      '偿还',
      '擒题',
      '猛厉',
      '打牲',
      '传祚',
      '阴堂',
      '宿猾',
      '灯座',
      '豨突',
      '相去',
      '批条',
      '村仆',
      '述容',
      '桴栋',
      '庐岳',
      '檬果',
      '抵背',
      '聚晤',
      '水堨',
      '新夷',
      '傍照',
      '雅伟',
      '防腐',
      '饹瘩',
      '行门',
      '配调',
      '不特',
      '卑立',
      '莨菪',
      '置都',
      '野吟',
      '乱世',
      '发现',
      '徇蔽',
      '猜意',
      '羞鼎',
      '词儿',
      '趁衙',
      '将将',
      '宏峻',
      '虾鬣',
      '起签',
      '虫胶',
      '幽衡',
      '县士',
      '貣丐',
      '同蒿',
      '匠户',
      '氓外',
      '识议',
      '凌掩',
      '绩火',
      '体能',
      '呕呢',
      '子时',
      '虹蝀',
      '柔光',
      '前臂',
      '冗余',
      '畜田',
      '鬻室',
      '开慰',
      '五雅',
      '哀容',
      '村厮',
      '村花',
      '龙断',
      '仲商',
      '豪强',
      '宽豁',
      '怨讥',
      '讲序',
      '蛇人',
      '严峭',
      '伏惟',
      '倨悍',
      '嫚娒',
      '娇黄',
      '蓁蓁',
      '枷杖',
      '传房',
      '青离',
      '逼威',
      '络头',
      '扶侍',
      '凤尾',
      '私躬',
      '笼鹅',
      '料定',
      '涩讷',
      '躐除',
      '敲朴',
      '温存',
      '撞筳',
      '螺巵',
      '奠祭',
      '济师',
      '韩湘',
      '卒暴',
      '涣泮',
      '躲债',
      '杂错',
      '探听',
      '物誉',
      '石阁',
      '诛茆',
      '能名',
      '私燕',
      '砭灼',
      '小宋',
      '韬约',
      '恢宣',
      '攒立',
      '希古',
      '淡素',
      '花容',
      '节亮',
      '釂酬',
      '容长',
      '那搭',
      '李郭',
      '泉币',
      '肥膌',
      '白榜',
      '毡窝',
      '假赁',
      '山呼',
      '冲守',
      '静治',
      '质明',
      '安佚',
      '体覆',
      '条品',
      '昭烂',
      '蔓生',
      '白捕',
      '纯钩',
      '骁健',
      '老几',
      '每常',
      '淫浊',
      '惨紫',
      '搥琢',
      '槐馆',
      '袤僻',
      '易直',
      '诗媒',
      '疏窅',
      '百祉',
      '积民',
      '积忧',
      '瞎路',
      '郅治',
      '饥虚',
      '鼎助',
      '丐退',
      '铜漏',
      '扁乘',
      '遒悍',
      '图式',
      '牛人',
      '行爵',
      '端揆',
      '官禁',
      '驽弱',
      '崿嶂',
      '霜轮',
      '矢誓',
      '贴晕',
      '宂坌',
      '近侧',
      '灿黄',
      '预赏',
      '康护',
      '熚炥',
      '头条',
      '谟士',
      '黯黣',
      '投敌',
      '奉和',
      '滑笏',
      '讥思',
      '锥股',
      '丫戾',
      '扃牖',
      '虎脊',
      '相随',
      '豹鼠',
      '饩牢',
      '离明',
      '基肥',
      '饫闻',
      '函调',
      '小介',
      '敬颂',
      '烙痕',
      '晦晦',
      '危邦',
      '征讨',
      '共契',
      '庄家',
      '地里',
      '指注',
      '好逑',
      '峤岳',
      '也克',
      '水土',
      '垂辉',
      '追收',
      '迦持',
      '米锦',
      '懊闷',
      '逸隐',
      '波潮',
      '洗腆',
      '尊嫜',
      '墨鸦',
      '四疆',
      '典秩',
      '梗边',
      '汛扫',
      '掀翻',
      '枋司',
      '娇细',
      '国劳',
      '曲覃',
      '注重',
      '点数',
      '鲜鳞',
      '斜攲',
      '出列',
      '柳眉',
      '青蒿',
      '守尽',
      '一段',
      '改期',
      '内耗',
      '亲献',
      '何故',
      '杮附',
      '翦除',
      '财马',
      '郁櫑',
      '优遇',
      '流感',
      '冲年',
      '使事',
      '果园',
      '片鸿',
      '停缓',
      '铨历',
      '房苑',
      '轮人',
      '劫剂',
      '选声',
      '武职',
      '历届',
      '霞照',
      '亲渥',
      '都尉',
      '宝姥',
      '自诡',
      '威强',
      '行师',
      '伏质',
      '臊根',
      '三观',
      '高等',
      '胡茬',
      '縻费',
      '利剑',
      '抚臆',
      '三仁',
      '铜羽',
      '倒卖',
      '旷涂',
      '矬陋',
      '珠实',
      '常寐',
      '长丝',
      '悦劝',
      '引棹',
      '八辟',
      '敞快',
      '游慢',
      '调药',
      '衔卮',
      '呕喁',
      '櫑子',
      '花文',
      '降封',
      '私徒',
      '腰鎌',
      '东洋',
      '枣糒',
      '剪乱',
      '失赚',
      '山溪',
      '切怛',
      '节上',
      '燕翼',
      '恩言',
      '小试',
      '礼庠',
      '逋税',
      '流霜',
      '上告',
      '违言',
      '清现',
      '底角',
      '錾刀',
      '华首',
      '令阃',
      '杨纡',
      '驭朽',
      '周瑜',
      '水面',
      '后悔',
      '王赫',
      '修气',
      '冰轮',
      '顿咽',
      '语讹',
      '移问',
      '两举',
      '流寄',
      '山岭',
      '寻引',
      '中报',
      '监控',
      '帝谟',
      '长寝',
      '颠冥',
      '离楼',
      '掷下',
      '鲠怅',
      '要御',
      '溃盟',
      '讴颂',
      '箝络',
      '步屧',
      '崩愧',
      '宿囚',
      '金采',
      '木臼',
      '神枕',
      '宝性',
      '澄怀',
      '招理',
      '酒粕',
      '朱襦',
      '欂卢',
      '屑侯',
      '井收',
      '峭险',
      '借倩',
      '雌字',
      '适孽',
      '笑呀',
      '飞翰',
      '野场',
      '轶驾',
      '爆棚',
      '仙流',
      '贰音',
      '访论',
      '多娇',
      '烟棹',
      '隃寇',
      '孔硕',
      '文堂',
      '顺节',
      '省察',
      '品人',
      '豚豚',
      '纸鸦',
      '雅记',
      '揜障',
      '厩肥',
      '噎膈',
      '躢鞠',
      '瓴甋',
      '昌富',
      '国初',
      '絶冥',
      '连收',
      '纷葩',
      '战犯',
      '产子',
      '亲遇',
      '荷帙',
      '观榭',
      '负儋',
      '青色',
      '扑马',
      '肆詈',
      '追録',
      '悬仰',
      '爣阆',
      '卖炉',
      '尊属',
      '鶌居',
      '陋浅',
      '告愬',
      '忠清',
      '狼尾',
      '凡迹',
      '泰半',
      '脱素',
      '别择',
      '贾终',
      '敦乐',
      '茗柯',
      '春料',
      '张王',
      '名下',
      '淖沙',
      '群灵',
      '通丧',
      '伟辞',
      '蚁虱',
      '触迕',
      '上身',
      '物忌',
      '玄膺',
      '録序',
      '穷技',
      '安健',
      '重驾',
      '事假',
      '帝道',
      '漏兜',
      '腐化',
    ]
    const _app = {
      setup(props) {
        const col = 4,
          row = 4
        const mode = Vue.ref([
          {
            id: 'easy',
            label: '简单',
            rowCols: 4,
            checked: true,
          },
          {
            id: 'normal',
            label: '普通',
            rowCols: 6,
            checked: false,
          },
          {
            id: 'hard',
            label: '困难',
            rowCols: 10,
            checked: false,
          },
        ])
        const createWordArray = (length) => {
          let wordArray = Vue.ref([])
          let words = Vue.ref([])
          for (let i = 0; i < length; i++) {
            let random = Math.ceil(Math.random() * 1000)
            const randomWords = orignalWords[random]
            wordArray.value.push(randomWords.split('')[0])
            wordArray.value.push(randomWords.split('')[1])
            words.value.push(randomWords)
          }
          wordArray.value = wordArray.value.sort(() => Math.random() - 0.5)
          return {
            wordArray,
            words,
          }
        }
        let { wordArray, words } = createWordArray((col * row) / 2)
        const state = Vue.ref(
          Array.from({ length: col }, (_, _col) =>
            Array.from({ length: row }, (_, _row) => ({
              id: _col * col + _row,
              word: wordArray.value[_col * col + _row],
              active: false,
            }))
          )
        )
        const handleModeChange = (item) => {
          const { wordArray: _wordArray, words: _words } = createWordArray(
            (item.rowCols * item.rowCols) / 2
          )
          wordArray.value = _wordArray.value
          words.value = _words.value
          state.value = Array.from({ length: item.rowCols }, (_, _col) =>
            Array.from({ length: item.rowCols }, (_, _row) => ({
              id: _col * item.rowCols + _row,
              word: wordArray.value[_col * item.rowCols + _row],
              active: false,
            }))
          )
          selectedWords.value = []
          viewAnswer.value = false
        }
        const selectedWords = Vue.ref([])
        const viewAnswer = Vue.ref(false)
        const onclick = (item) => {
          item.active = !item.active
          if (
            !selectedWords.value.length ||
            selectedWords.value[selectedWords.value.length - 1].length % 2 === 0
          ) {
            item.active
              ? selectedWords.value.push(item.word)
              : (selectedWords.value[selectedWords.value.length - 1] =
                  selectedWords.value[selectedWords.value.length - 1].replace(
                    item.word,
                    ''
                  ))
            return
          }

          item.active
            ? (selectedWords.value[selectedWords.value.length - 1] =
                selectedWords.value[selectedWords.value.length - 1] + item.word)
            : selectedWords.value.pop()
        }
        const check = (word) => words.value.includes(word)
        const hanldeViewAnswer = () => {
          viewAnswer.value = !viewAnswer.value
          const _score =
            selectedWords.value.filter((item) => words.value.includes(item))
              .length / words.value.length
          const score = Math.floor(_score * 100)
          viewAnswer.value && alert(`您的得分是${score}`)
        }
        return {
          onclick,
          state,
          selectedWords,
          check,
          viewAnswer,
          words,
          mode,
          handleModeChange,
          hanldeViewAnswer,
        }
      },
    }
    const app = Vue.createApp(_app)

    app.mount('#app')
  </script>
</html>
