<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>words</title>
  </head>
  <body>
    <div
      id="app"
      style="background: #121212; min-height: 100vh"
      class="h-full w-full flex flex-col items-center justify-center p-4 gap-4"
    >
      <h1 class="mb-10 text-white text-3xl">汉字组词</h1>
      <div class="flex">
        <div v-for="item in mode" class="text-white mr-2">
          <input
            type="radio"
            :id="item.id"
            name="mode"
            :value="item.label"
            :checked="item.checked"
            @change="handleModeChange(item)"
          />
          <label :for="item.id" class="ml-2">{{item.label}}</label>
        </div>
      </div>
      <div class="flex gap-4">
        <div class="flex flex-wrap w-2/5" v-show="viewAnswer">
          <button
            v-for="item in words"
            class="w-80 text-white m-2 p-2 border flex flex-col gap-1 truncate"
            :title="item.explanation"
          >
            <div class="flex">
              <span
                class="flex flex-col justify-center items-center"
                v-for="i in 5"
              >
                <span class="text-orange-500"
                  >{{item.pinyin.split(' ')[i-1]}}</span
                >
                <span>{{item.word.split('')[i-1]}}</span>
              </span>
            </div>
            <span class="truncate self-start w-full"
              >解释：{{item.explanation}}</span
            >
          </button>
        </div>
        <div class="flex flex-col gap-2">
          <div>
            <div v-for="row,idy in state">
              <button
                @click="onclick(item)"
                v-for="item,idx in row"
                class="w-16 h-16 border hover:bg-green-700 text-white"
                :class="{'bg-green-700': item.active}"
              >
                <span class="flex flex-col justify-center items-center">
                  <span class="text-orange-500">{{item.pinyin}}</span>
                  <span>{{item.word}}</span>
                </span>
              </button>
            </div>
          </div>
          <button
            @click="hanldeViewAnswer"
            class="rounded border p-2 w-30 self-center text-white hover:bg-green-700 transition:.5"
          >
            查看结果
          </button>
        </div>

        <div>
          <div v-if="!selectedWords.length">
            <button class="w-16 h-16 border text-white"></button>
            <button class="w-16 h-16 border text-white"></button>
            <button class="w-16 h-16 border text-white"></button>
            <button class="w-16 h-16 border text-white"></button>
          </div>
          <div v-else v-for="item in selectedWords" class="m-2 mt-0 w-70">
            <button class="w-16 h-16 border text-white" v-for="w in item">
              <span class="flex flex-col justify-center items-center">
                <span class="text-orange-500">{{w.pinyin}}</span>
                <span>{{w.word}}</span>
              </span>
            </button>
            <button
              v-show="viewAnswer"
              class="w-16 h-16 border"
              :class="{'text-green-700':check(item),'text-red-500':!check(item)}"
            >
              {{check(item) ? '√' : 'x'}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="./index.js"></script>
</html>
